@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap");

*,
*::before,
*::after {
  font-family: "Raleway", sans-serif;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.4em;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(
    to bottom,
    hsl(90, 100%, 79%),
    hsl(90, 100%, 91%)
  );
}

body {
  overflow-x: hidden;
  background: url(../assets/vocabbackground.jpg);
}

header {
  display: flex;
  font-weight: 300;
  flex-direction: column;
}

.logo-holder {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  position: relative;
}

.logo {
  width: 75px;
  order: 1;
}

.back img {
  width: 70px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.menu {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-weight: 500;

  color: white;
  font-size: 1.8em;
}

.sub {
  flex-direction: column;
  display: flex;
}

.sub a {
  margin-top: 1.3em;
  text-decoration: none;
  font-size: 1.2em;
  text-align: center;
  font-weight: 400;
  color: black;
  background: rgb(102, 253, 114);
  padding: 0.5em 5em;
  border-radius: 0.7em;
}

.sub a:hover {
  box-shadow: -1px 0px 22px rgba(22, 4, 4, 0.5);
  transform: scale(1.1, 1.1);
}

footer {
  background: linear-gradient(to right, rgb(75, 207, 75), rgb(58, 171, 223));
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 1em 0 1em 0;
  overflow: hidden;
  width: 100%;
  bottom: 0;
  margin-top: 3em;
}
footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

caption {
  text-align: center;
  color: white;
  padding-bottom: 0.8em;
  font-size: 1.8em;
}

table {
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 8px #000000;
  background: hsl(0, 0%, 13%);
  border-collapse: collapse;
  position: relative;
  margin-top: 3em;
  font-size: 20px;
}

tr,
td {
  padding: 0.5em 2em;
  color: hsl(0, 0%, 82%);
}

th {
  background: hsl(0, 0%, 22%);
  letter-spacing: 1px;
  text-align: left;
  color: rgb(102, 253, 114);
  padding: 0.5em 0 0.5em 2em;
  position: relative;
}

tr {
}

tr:hover {
  cursor: pointer;
  background: hsl(0, 0%, 22%);
}

tr::before {
  content: "";
  height: 0.5px;
  background: hsl(0, 0%, 10%);
  position: absolute;
  width: 100%;
  bottom: 1;
}

.nav {
  position: absolute;
  top: 0;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
  background: white;
  transform: scale(0, 1);
  transition: transform 200ms ease-in-out;
  transform-origin: right;
}

.nav a {
  text-decoration: none;
  color: black;
  opacity: 0;
}

.nav > div {
  padding: 1em;
}

.nav-bar {
  display: none;
}

.nav-bar:checked ~ .nav {
  transform: scale(1, 1);
}

.nav-bar:checked ~ .nav a {
  opacity: 1;
  transition: opacity 100ms ease-in-out 200ms;
}

.nav-bar:checked ~ .nav-label span {
  background: black;
}

.nav-bar:checked ~ .nav-label span::before {
  background: black;
}

.nav-bar:checked ~ .nav-label span::after {
  background: black;
}

.nav-label {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 7%;
  cursor: pointer;
  display: flex;
  height: 6em;
  align-items: center;
}

.nav-label span {
  display: block;
  width: 25px;
  height: 2px;
  background: white;
  position: relative;
}

.nav-label span::before,
.nav-label span::after {
  position: absolute;
  background: white;
  content: "";
  width: 25px;
  height: 2px;
  display: block;
}

.nav-label span::before {
  top: 7px;
}

.nav-label span::after {
  bottom: 7px;
}

.expand-more {
  display: none;
}

.lessons-ul {
  display: none;
}

/* Desktop */

@media (min-width: 600px) {
  .sub {
    flex-direction: row;
  }

  .sub a {
    margin-right: 1em;
    padding: 0.4em 3.3em;
    font-size: 1.2rem;
    font-weight: 500;
  }
  .nav {
    transform: scale(1, 1);
    background: none;
    display: grid;
    height: 6em;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
  }

  .lessons {
    grid-column: 4/5;
    position: relative;
    font-weight: 300;
  }

  .home {
    grid-column: 2/4;
    justify-self: center;
  }

  .grammars {
    grid-column: 8/9;
    justify-self: start;
  }

  .vocabulary {
    grid-column: 9/11;
    justify-self: center;
  }

  .expand-more {
    display: block;
    right: -5px;
    top: 18px;
    position: absolute;
    cursor: pointer;
  }
  .nav a {
    color: white;
    opacity: 1;
  }

  .nav a:hover:not(.lessons-ul a) {
    color: #ff4e77;
  }

  .expand-more:hover {
    fill: #ff4e77;
  }

  .nav-label {
    display: none;
  }

  .lessons-title {
    display: flex;
  }

  main {
    font-size: 1.5em;
  }

  .lessons-ul {
    display: none;
    position: absolute;
    white-space: nowrap;
    background: white;
    border-radius: 0.4em;
    top: 50px;
  }

  .lessons-ul li {
    list-style: none;
    padding: 1em;
    cursor: pointer;
  }

  .lessons-ul li:nth-child(1) {
    border-radius: 0.4em 0.4em 0 0;
  }
  .lessons-ul li:nth-child(2) {
    border-radius: 0em 0em 0.4em 0.4em;
  }

  .lessons-ul a {
    color: black;
  }

  .lessons-ul li:hover {
    background: #ff4e77;
  }

  .show {
    display: block;
  }
}
